.row-list-movies{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.row-list-movies .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-list-movies .header .list p{
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.row-list-movies .header .sort-search{
    display: flex;
    margin-top: 3rem;
    align-items: center;
    column-gap: 1rem;
}

.results{
    display: none;
}

.row-list-movies .header .sort-search .search input{
    width: 100%;
    height: 2rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid #6E7191;
    background-color: #FCFDFE;
    padding: 0 0.5rem;
    outline: none;
}

.btnSort{
    border: 1px solid #6E7191;
    padding: 3px 10px;
    border-radius: 5px;
}

/* .slides-show-month {
    display: flex;
    overflow-x: scroll;
    margin: 2rem 5rem 0 5rem;
  }
 
.slides-show-month button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2rem;
    flex:1 0 10%;
    cursor: pointer;
    margin: 0 0.5rem 1rem 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #5F2EEA;
}

.slides-show-month button:hover{
    background-color: #5F2EEA;
    color: #fff;
    border: 0px;
}

.slides-show-month button:focus{
    background-color: #5F2EEA;
    color: #fff;
    border: 0px;
} */

.row-list-movies .list-movies-show{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.list-movies-show>* {
    flex: 0 0 20%;
}

.row-list-movies .list-movies-show .text-info .title {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    margin-top: 0.5rem;
}


.row-list-movies .list-movies-show{
    display: flex;
    text-align: center;
}

.row-list-movies .list-movies-show .cover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 1rem;
    padding: 1rem 0.5rem;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.row-list-movies .list-movies-show .btn-details{
    width: 100%;
    padding: 0 4rem;
    cursor: pointer;
    background-color: #fff;
    border-color: #5F2EEA;
    color: #5F2EEA;
    border: 1px solid #5F2EEA;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.row-list-movies .list-movies-show .btn-details:hover{
    background-color: #5F2EEA;
    color: #fff;
}

.page-item-link:focus{
    background-color: #5F2EEA;
    color: #fff;
}
 
  @media only screen and  (max-width: 600px){

    .row-list-movies .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .row-list-movies .header .list p{
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .row-list-movies .header .sort-search{
        display: flex;
        margin: 0;
        align-items: center;
        column-gap: 1rem;
        width: 100%;
        justify-content: space-between;
    }

    .row-list-movies .header .sort-search .search{
        width: 100%;
    }
    
    .row-list-movies .header .sort-search .search input{
        
        height: 2rem;
        font-size: 0.8rem;
        border-radius: 5px;
        border: 1px solid #6E7191;
        background-color: #FCFDFE;
        padding: 0 0.5rem;
    }

    .results{
        display: block;
        font-size: 0.9rem;
        color: #000;
    }

    .row-list-movies .list-movies-show{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        margin-top: 1rem;
        align-items: center;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
    
    .list-movies-show>* {
        flex: 0 0 40%;
    }

    .row-list-movies .list-movies-show .cover{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        margin: 1rem;
        padding: 1rem 0.5rem;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }

    .row-list-movies .list-movies-show .text-info .title {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: #000;
        font-weight: 500;
        margin-top: 0.5rem;
    }

    .row-list-movies .list-movies-show .btn-details{
        width: 100%;
        /* padding: 0 4rem; */
        cursor: pointer;
        background-color: #fff;
        border-color: #5F2EEA;
        color: #5F2EEA;
        border: 1px solid #5F2EEA;
        outline: none;
        font-size: 0.6rem;
        font-weight: 500;
        transition: 0.3s ease-in-out;
    }
    
    .row-list-movies .list-movies-show .btn-details:hover{
        background-color: #5F2EEA;
        color: #fff;
    }

  }
